<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfc.autofin.framework">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.VehicleDetailsActivities.LikelyPurchaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".Activity.review_activites.ReviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.SalaryModeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.YearOfExperienceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.JODOCurrentOrgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.CurrentOrganizationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.NumOFExistingLoanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.BankNamesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.EmploymentTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.PanCardNumberActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.LoanRequiredActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.EMIPayPerMonthActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.MonthlyIncome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.UserDOBActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.ResidentialActivity.ResidenceTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.ResidentialActivity.CurrentResidenceMonthAndYearActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.ResidentialActivity.CityMonthAndYearActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.ResidentialActivity.ResidentialCity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.BasicDetailsActivities.BasicDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.InsuranceTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehInsuranceValidityActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehValidInsuranceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehPostInspectionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.CarHaveLoanCurrentlyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehicleOwnerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehicleVariantActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehicleModelActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehicleMakeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehRegistrationYear"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehRegNumAns"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehRegNumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.VehicleDetailsActivities.VehicleCategory"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.AutoFinDashBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="kyc.DocumentUploadActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.VehicleDetailsActivities.InterestedVehiclePriceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.VehicleDetailsActivities.new_car_flow.VehiclePurchaseAmountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.VehicleDetailsActivities.new_car_flow.InsuredAmountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.PersonalDetails.GenderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.review_activites.ViewBankActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.review_activites.ReviewDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.EducationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.VehicleDetailsActivities.LeadDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.PersonalDetails.InterestedBankOfferActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.bank_offer_activities.InterestedBankOfferDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.PersonalDetails.EmploymentRole"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.employment_activities.ProfessionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.employment_activities.StartDateOfBusinessOrProfessionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.employment_activities.LastYearSalesOrTurnOver"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.employment_activities.LastYearDepreciationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.employment_activities.ITRAuditedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.PersonalDetails.employment_activities.IndustryTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.review_activites.DetailsUpdateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.PersonalDetails.employment_activities.IncomeAfterTaxActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <activity
            android:name=".Activity.PersonalDetails.SavingsBankAccountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.bank_offer_activities.AdditionalFieldsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.PersonalDetails.LastYearProfitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>